.login-page {
    background: #f7f02e;
    background: linear-gradient(to right, #f7f02e, #f7af00);
    height: 100vh;
}

.btn-signup {
    background: #f7f02e;
    color: black;
}

.go-to-login {
    padding-top: 40px;

    i.fa.fa-arrow-left {
        font-size: 35px;
        cursor: pointer;
    }
}

.btn {
    font-size: 80%;
    border-radius: 0;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    color: black;
    background: #f7ee4e;
}