.login-page {
    background: #f7f02e;
    background: linear-gradient(to right, #f7f02e, #f7af00);
    height: 100vh;
}

.btn-signup {
    background: #f7f02e;
    color: black;
}

.go-to-login {
    padding-top: 40px;

    i.fa.fa-arrow-left {
        font-size: 35px;
        cursor: pointer;
    }
}