.profile-container {
  padding: 1em 3em;
  .transaction-container {
    height: calc(100vh - 130px);
    overflow: auto;
    padding-top: 20px;
    .transaction-box {
      display: flex;
      padding: 1rem 0;
      border-bottom: 1px solid #e0dddd;

      .header-text {
        font-weight: 700;
        color: #333;
        font-size: 16px;
        width: 18%;
        float: left;
      }
      .header-text:nth-child(6) {
        width: 10%;
      }
    }
    .transaction-value {
      width: 18%;
      float: left;
      padding: 0.5rem 0;
      font-size: 14px;
      font-weight: 500;
    }
    .transaction-value:nth-child(6) {
      width: 10%;
    }
  }
}
