.shailkart-link {
  font-weight: 700;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  padding-top: 1rem;
  background: #f7f02e;
  border-bottom: 1px solid #eee;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: unset;
  color: black
}

.dropdown-item:hover {
  background-color: #f7f02e;
  color: black;
}

.nav-link,
.nav-link:hover {
  color: black;
}

.navbar-brand {
  margin-left: 4rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
}

.shopping-cart-icon {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.shopping-cart-icon:hover {
  background: white;
  border-radius: 25px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-fixed-bottom,
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 768px) {

  .navbar-fixed-bottom,
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.login-btn {
  position: relative;
  top: 8px;
  cursor: pointer;
}